/* Handle autofill for webkit browsers (Chrome, Safari, Edge) */
.input-group .input:-webkit-autofill,
.input-group .input:-webkit-autofill:hover,
.input-group .input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #f5ebdf75 inset !important;
  -webkit-text-fill-color: inherit;
}

.input-group .input:-webkit-autofill + .label {
  top: -8px;
  font-size: 0.8rem;
  color: #387919;
  background-color: beige;
}

/* Handle filled state via React state */
.input-group.filled .label {
  top: -8px;
  font-size: 0.8rem;
  color: #387919;
  background-color: beige;
} 