.login-container {
  background: radial-gradient(transparent, rgba(240, 196, 168, 0.055));
  justify-self: left;
  width: min(40%, 100%);
  overflow-y: auto;
  background-color: transparent;
  position: relative;
  z-index: 10000;
  display: flex;
  flex-direction: column;
}

.logo {
  color: #d67b03;
  font-weight: 700;
  span {
    color: #387919;
  }
}

.login-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}
.or-container {
  width: 100%;
  color: #1d0b0b;
  display: flex;
  align-items: center;
  gap: 2px;
  justify-items: center;
  text-align: center;
  align-content: center;

  span {
    width: 100%;
    height: 1px;
  }
}
.or-container > span:nth-of-type(1) {
  background: linear-gradient(270deg, #d67b03 60%, transparent 100%);
}
.or-container > span:nth-of-type(2) {
  background: linear-gradient(90deg, #d67b03 60%, transparent 100%);
}

.input-container {
  width: 100% !important;
}



.google {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  background-color: #f5ebdf75 !important;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1.1rem;
  height: 40px;
  color: #387919 !important;
  font-weight: 500;
  transition: all 0.2s ease;
  margin: 20px 0;
  cursor: pointer;
  text-align: center;
  img {
    width: 30px;
    height: 30px;
  }
}
.google:hover {
  background-color: #f1eeebd7 !important;
  box-shadow: 0 0 10px rgba(56, 121, 25, 0.5) !important;
}
.actions {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center !important;

  .remember {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #387919;
    font-size: 0.9rem;
    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      accent-color: #387919;
    }
  }
  .forgot-password {
    color: #387919;
    font-size: 0.9rem;
    text-decoration: none;

    transition: all 0.2s ease;
    &:hover {
      text-decoration: underline;
    }
  }
}

.signup-link-container {
  width: 100%;
  text-align: center;
  .signup-link {
    color: #245e09;
    font-size: 0.9rem;
    a {
      color: #d67b03;
      font-weight: 500;
      text-decoration: none;
      transition: all 0.2s ease;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}